//=========================================================//
//     _   _   _ _____ ___    ____ _____  _    ____ _____  //
//    / \ | | | |_   _/ _ \  / ___|_   _|/ \  |  _ \_   _| //
//   / _ \| | | | | || | | | \___ \ | | / _ \ | |_) || |   //
//  / ___ \ |_| | | || |_| |  ___) || |/ ___ \|  _ < | |   //
// /_/   \_\___/  |_| \___/  |____/ |_/_/   \_\_| \_\|_|   //
//                                                         //
//=========================================================//

spawn-at-startup "matugen" "image" "--source-color-index" "0" "~/.wallpaper.png" "-m" "dark"
spawn-at-startup "waywallen" "--no-ui"
spawn-at-startup "spawn-at-startup" "kded6"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "KDE_FULL_SESSION=true"
spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"

spawn-at-startup "swayidle"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "sway-audio-idle-inhibit"

spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "kitty"