html {
    font-size: 15px !important;
}
* {
  --font-primary: "Google Sans", "gg sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  --font-display: "Google Sans", "gg sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}
